<h3> {{ title }}</h3>

<div *ngIf="loading == true" class="loader">Loading..</div>
<div *ngIf="loading == false" class="row">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="col-md-10">
    <ngb-panel title="{{ film.title }}" *ngFor="let film of (films | async)?.results">
      <ng-template ngbPanelContent>
        <p> <b> Director: </b>{{ film.director }} </p>
        <p> <b> Producer: </b>{{ film.producer }} </p>
        <p> <b> Release Date:</b> {{ film.release_date }}</p>
        <p> <b> Description:</b> {{ film.opening_crawl }}</p>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>

