<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
          aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"> {{ title }} </a>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="exCollapsingNavbar2">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" routerLink="/star-wars" routerLinkActive="active">Films</a>
      <a class="nav-item nav-link" routerLink="/people" routerLinkActive="active">Actors</a>
    </div>
    <div class="pull-right">
      <button type="button" class="btn btn-primary" (click)="loginGoogle()" *ngIf="!(user | async)?.uid">Google login</button>
      <button type="button" class="btn btn-primary" (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
